body
{
    padding-top: 100px;
    font-family: "segoe ui light";
}

.navbar-brand img
{
    width: 70px;
    height: 50px;
}


.slide
{
    width: 80%;
}
.carousel-indicators li
{
    height: 30px;
    border-radius: 50%;
}
.test
{
    color: red;
    font-size: 50px;
    background-color: gray;
    padding: 10px;
    border-radius: 50%;
    
}
.test:hover
{
    color: gray;
    background-color: red;
}

.item
{
    background-color: #09c;
}

.member
{
    position: relative;
}
.member .mem-caption
{
    background-color: #0591b1;
    color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 10px;
}
.member .mem-caption:before
{
    content: "";
    background-color: #0591b1;
    height: 100%;
    width: 25px;
    position: absolute;
    top: 0;
    -webkit-transform: skewX(20deg);
    transform: skewX(20deg);
    right: 90%;
}

.features
{
    background-image: url(../images/bg2.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.features .feature
{
    background-color: rgba(0,0,0,0.6);
    color: #fff;
    padding: 20px;

}